<div class="home-container">
  <div class="logo-container">
    <h1>whos-who</h1>
  </div>
  
  <div class="button-container">
    <a routerLink="game">
      <button class="button">Play</button>
    </a>
    <a routerLink="settings">
      <button class="button">Settings</button>
    </a>
    <a routerLink="leaderboard">
      <button class="button">Leaderboard</button>
    </a>
  </div>

  <div class="credit-container">
    <div class="logos">
      <a target="_blank" href="https://cooksys.com/">
        <img src="assets/cook-logo.svg" alt="Cook Systems Logo" class="cooksys-logo">
      </a>      
      <a target="_blank" href="https://open.spotify.com/">
        <img src="assets/spotify-logo.svg" alt="Spotify Logo" class="spotify-logo">
      </a>
    </div>
    <p> Built using Spotify's API for the FastTrack program by Rahin Rahman and Solomon Fuller </p>
  </div>
</div>